{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">{%  block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{% block head_script %}
    <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
    <script src="{% static 'RiotControl/riotcontrol.js' %}"></script>
    <script src="{% static 'riotgear-router/dist/rg-router.min.js' %}"></script>
{%  endblock %}

        {%  block css_in_head %}
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{%  static 'font-awesome/css/font-awesome.min.css' %}">

        {%  endblock %}

</head>{%  endblock head %}
    <body>{%  block body %}
        <div class="container-fluid">
            {%  include 'header.html' %}
        </div>
    </body>{%  endblock body %}
    {%  block js_after_body %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/collapse.js' %}"></script>
    {%  endblock %}


</html>