{% load i18n %}
{% load static %}
{% block header %}


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-8" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">National Humanitarian Database</a>
            </div>


            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>{% trans 'Welcome' %} {{ user.username }}</li>

                {% else %}
                    <li><a type="button" href="{% url 'login' %}">
                        {% trans 'Login' %}
                    </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

{% endblock %}