{% extends "base.html" %}

{% load static %}

{%  block head_script %}
    {{ block.super }}
    <script src="{% static 'js/uuid_encode.js' %}"></script>
    <script src="{% static 'js/projectstore.js' %}"></script>
    <script src="{% static 'js/requeststore.js' %}"></script>
    <script>
        {% include 'projecttracker/routing.js' %}
    </script>
{% endblock %}

{% block head_style %}
{% endblock %}

{% block main %}
<project-detail></project-detail>
<project-list></project-list>
<request></request>

{% endblock main %}
{%  block body_script %}

<script type="riot/tag">
    {% include 'projecttracker/project_list.tag.html' %}
</script>
<script type="riot/tag">
    {% include 'projecttracker/project_detail.tag.html' %}
</script>
<script type="riot/tag">
    {% include 'riot/request.tag.html' %}
</script>

<script>
    var projects = [] //{{ projects|safe }}
    var projectstore = new ProjectStore([]);
    var requeststore = new RequestStore([]);
    RiotControl.addStore(projectstore);
    RiotControl.addStore(requeststore);
    riot.mount('request');
    riot.mount('project-list');
    riot.mount('project-detail');
    riot.mount('lookup-tag', {url: "{% url 'projecttracker:api-organization-list' %}", minlength:2, filterfield:'name',
        tags:{
            options:[],
             placeholder:"Pick organization",
             filter:'text',
            name: 'org_id'
    }});
    RiotControl.trigger('projects_reload');
</script>
{% endblock %}
