<project-list>

    <form id="project-filter">
        <div id="project-search-parameters" class="c-card c-card--high">
            <div class="c-card__content c-card__content--divider heading">By Name</div>
            <div class="c-card__item">
                <div class="o-grid">
                    <div class="o-grid__cell"><label class="c-label c-form-element">Name contains:
                        <input name="search" type="search" class="form-control search-for-fingers" placeholder="Search.." onkeyup={ keyup } value={ keyword }>

                    </div>
                    <div class="o-grid__cell"><label class="c-label c-form-element">
                        Project status:
                        <select class="c-choice" id="id_status" name="status" multiple="multiple">
                            {% for k, v in PROJECT_STATUS_CHOICES %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </label></div>
                </div>
            </div>
        </div>


        <div class="c-form-element">
            <label class="c-label" for="project_filter_name">Name:</label>

        </div>

        <button class="c-button c-button--primary" onclick={ set_page }>filter</button>
    </form>


    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true" onclick={set_page} data-set-page="1" >&laquo;</span>
          </a>
        </li>
        <li><a href="#" onclick={set_page} data-set-page={page-1}>&leftarrow;</a></li>
        <li class="active"><a href="#">{page}</a></li>
        <li><a href="#" onclick={set_page} data-set-page={page+1}>&rightarrow;</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true" onclick={set_page} data-set-page={pages}>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <h4>Projects { (page -1 ) * page_size + 1 } to { Math.min(page * page_size,
        count) } of { count }</h4>
    
<div class="container">
    <div class="row">
        <div class="col-md-2"><h4>Project name</h4></div>
        <div class="col-md-3"><h4>Description</h4></div>
        <div class="col-md-1"><h4>Status</h4></div>

        <div class="col-md-1"><h4>Start date</h4></div>
        <div class="col-md-1"><h4>End date</h4></div>
        <div class="col-md-1"><h4>Modified</h4></div>
        <div class="col-md-2"><h4>Tags</h4></div>
    </div>
    <div class="row" each={ paginate(filter(projects)) } onclick={project_dectail}>
        <div class="col-md-2">{ name }</div>
        <div class="col-md-2">{ description }</div>
        <div class="col-md-2">{ status }</div>

        <div class="col-md-1">{ startdate }</div>
        <div class="col-md-1">{ enddate }</div>
        <div class="col-md-1">{ modified }</div>
        <div class="col-md-2">
            <div class="btn btn-default btn-xs btn-block" each={ tag }> { trans(tag.translation_id) }</div>
        </div>
    </div>

    <style scoped>
        #project-search-parameters {
            overflow: visible
        }
        label {
            margin: 0 0.2em;
        }
        .btn-block {
            overflow:hidden;
            text-overflow: ellipsis;
        }
        .row {
            border: 1px solid black;
        }
    </style>

    {% include 'projecttracker/project_list.tag.js' %}

</project-list>